<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <base target="_self">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>多维表格数据合并</title>
    <script type="module" crossorigin src="{{ url_for('static', filename='assets/index.7d14259a.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/index.d9671e59.css') }}">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
